* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  
}
nav{
  text-align: center;
  height: 35px;
}
nav a{
  padding: 10px 20px;
  font-size: 20px;
}
.event{
  border: 1px solid tomato;
  padding: 10px;
  margin: 10px;
  border-radius: 10px
}